.Questão3CSS {
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    background-color: #333;
    color: white;
    text-align: center;
    line-height: 60px;
  }
  
  
  .content {
    padding-top: 60px;
  }